{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        /*바벨이 리액트 코드를 변화할 때,
        React를 명시적으로 import하지 않아도 JSX 문법을 사용할 수 있도록 지원합니다.
        automatic 설정은 최신 React.
        */
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        // 비동기 코드에서 사용되는 regeneratorRuntime을 자동으로 포함합니다.
        "regenerator": true
      }
    ]
  ]
}
