body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-column {
  flex-direction: column;
}